google-ai-generativelanguage=0.6.18
google-api-core=2.25.1
google-auth=2.40.3
googleapis-common-protos=1.70.0
langchain=0.3.27
langchain-core=0.3.72
langchain-google-genai=2.1.8
langchain-ollama=0.3.6
langchain-openai=0.3.28
langchain-text-splitters=0.3.9
langsmith=0.4.8
ollama=0.5.1
langchain-community=0.3.27
langchain-tavily=0.2.11

